.improntus-config-tab .admin__page-nav-title{
    background-image: url('../images/Improntus-logo-2.webp') !important;
    background-repeat: no-repeat !important;
    background-size: 120px !important;
    background-position: left!important;
    padding: 25px !important;
    background-position-x: 10px !important;
    background-blend-mode: difference;
}

.improntus-config-tab .admin__page-nav-title strong {
    display: none!important;
}

li.whatsapp-menu .item-nav{
    background-image: url(../images/WhatsApp.svg) !important;
    background-repeat: no-repeat !important;
    background-size: 40px !important;
    background-position: right !important;
    background-position-x: 10px !important;
    padding-left: 55px;
}
