<?xml version="1.0"?>
<!--
   @author Improntus Dev Team
   @copyright Copyright (c) 2024 Improntus (http://www.improntus.com)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Improntus_WhatsappContact::title_level"
             title="Whatsapp Contact"
             module="Improntus_WhatsappContact"
             sortOrder="60"
             parent="Improntus_Core::menuPrincipal"
             resource="Improntus_WhatsappContact::title_level"/>
        <add id="Improntus_WhatsappContact::Whatsapp"
             title="Whatsapp Contact Settings"
             module="Improntus_WhatsappContact"
             action="adminhtml/system_config/edit/section/improntus_whatsappcontact/"
             sortOrder="10"
             parent="Improntus_WhatsappContact::title_level"
             resource="Improntus_WhatsappContact::Whatsapp"/>
    </menu>
</config>
